.add-card-form {
  display: flex;
  flex-direction: column;
}

.card-content .card-title-input {
  width: 100%;
  padding: 0.22rem 0.5rem 0.75rem 0.8rem;
  border: none;
  color: var(--ds-text);
  font: var(--ds-font-body);
  font-size: 16px;
  font-weight: var(--ds-font-weight-medium);

  &:focus {
    outline: none;
  }
}

.add-card-buttons-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-card-buttons-container .add-card-contained-button {
  padding: 0.6rem 1rem 0.6rem 1rem;
  text-transform: none;
  font: var(--ds-font-body);
  font-size: 16px;
  font-weight: var(--ds-font-weight-medium, 500);
}
