.add-card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-content .card-title-input {
  width: 100%;
  padding: 0.25rem 0.5rem 0.75rem 0.5rem;
  border: none;
  color: var(--gray1);
  background-color: transparent;
  font-size: 1em;

  &:focus {
    outline: none;
  }
}

.add-card-buttons-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-card-buttons-container .add-card-contained-button {
  width: fit-content;
  padding: 0.4rem 0.75rem 0.3rem 0.75rem;
  color: var(--button-black-text);
  background-color: var(--button-soft-blue-bg);
  text-transform: none;

  &:hover {
    background-color: var(--button-very-soft-blue-bg);
  }
}

.add-card-buttons-container .icon-button {
  width: auto;
  padding: 4px 8px;
  color: var(--gray2);
  font-size: 1.2em;
  padding: 0.35rem 0.75rem;

  &:hover {
    color: var(--gray1);
    background-color: var(--gray3);
  }
}
