.add-card-form {
  display: flex;
  flex-direction: column;
}

.add-card-buttons-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-card-buttons-container .add-card-contained-button {
  padding: 0.6rem 1rem 0.6rem 1rem;
  text-transform: none;
  font: var(--ds-font-body);
  font-size: 16px;
  font-weight: var(--ds-font-weight-medium, 500);
}

.add-card-content {
  display: flex;
  flex-direction: column;
  background-color: var(--gray4);
  color: var(--gray1);
  border-radius: 6px;
  padding: 0.5rem;
  text-align: left;
  box-sizing: border-box;
}

.add-card-form .card-title-input {
  background-color: var(--gray4);
}
