/* Card */
.card-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-content {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black);
  background-color: var(--gray4);
  color: var(--gray1);
  border-radius: 6px;
  padding: 0.5rem;
  text-align: left;
}

.card-content:hover {
  border: 1px solid var(--gray1);
}

.floating-card-content {
  display: inline-block;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid var(--black);
  background-color: var(--gray4);
  color: var(--gray1);
  padding: 0.5rem;
  text-align: left;
}

.card-save-button {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  background: #8fb8f6;
  color: black;
  border: 1px solid var(--black);
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
  overflow: hidden;
  transition: 0.2s ease;
}

.card-save-button:hover {
  background: #6f9ce6;
}

.card-edit-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.card-container:hover .card-edit-button {
  opacity: 1;
}

.card-edit-button:hover {
  background-color: var(--black);
}

.card-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.25rem 0.25rem 0 0.25rem;
  margin: 0 2rem 0 0;
}

.card-title {
  font-size: 1.15em;
  font-weight: normal;
  padding: 0.25rem 0.5rem 0.5rem 0.3rem;
  word-break: break-word;
}

.card-title-input {
  display: block;
  word-break: break-all;
  border: none;
  outline: none;
  background: none;
  color: var(--gray1);
  font-family: inherit;
  font-size: 1.15em;
  font-weight: normal;
  padding: 0.25rem 0.5rem 0.5rem 0.3rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  resize: none;
  field-sizing: content; /* auto-grow/shrink to content check if works cross-browser*/
}

.card-footer {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.25rem;
  font-size: 0.75rem;
  > svg {
    font-size: 16px;
  }
}

.empty-card-footer {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 0.5rem;
}

.card-popover {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: transparent;
  color: var(--gray1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-0.4rem);
}

.card-popover-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0 0 1rem;
  background-color: transparent;
}

.card-menu-button {
  width: fit-content;
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  border-radius: 0.2rem;
  color: var(--gray1);
  background-color: var(--gray3);
  padding: 0.5rem;
  transition: background-color 0.15s ease, transform 0.05s ease,
    box-shadow 0.1s ease;

  > svg {
    font-size: 16px;
  }
  &.is-active {
    background-color: var(--gray4);
    transform: translateY(1px);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.12);
  }
  &:hover {
    background-color: var(--gray5);
  }
}
