.app-footer {
  display: flex;
  min-height: 3.5rem;
  padding: 0.8rem 1rem;
  position: fixed;
  bottom: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.75rem;
  padding: 0.5rem;
  background-color: black;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.footer-separator {
  display: block;
  flex: 0 0 1px;
  align-self: stretch;
  width: 1px;
  margin: 0.5rem 0;
  background-color: var(--gray2);
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  padding: 0.4rem;
  gap: 0.25rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
}

.footer-button:hover {
  background-color: var(--gray3);
  border: 1px solid var(--gray2);
}

.footer-button.active {
  background-color: var(--ds-background-selected, #e9f2ff);
  color: var(--ds-icon-selected, #0c66e4);
}
