/* List */
.list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 350px;
  max-height: 100%;
  border: 1px solid var(--black);
  border-radius: 10px;
  background-color: var(--gray5);
  color: var(--gray1);
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.list-header h2 {
  margin: 0;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  font-size: 1em;
  font-weight: 500;
}

.list-content-container {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.2rem 0 0.2rem 0;
}

/* Custom scrollbar styling */
.list-content-container::-webkit-scrollbar {
  width: 5px; /* Make scrollbar thinner */
}

.list-content-container::-webkit-scrollbar-track {
  background: var(--gray3); /* Track color */
  border-radius: 3px;
  border: 1px solid var(--gray3);
}

.list-content-container::-webkit-scrollbar-thumb {
  background: var(--gray2); /* Thumb color */
  border-radius: 3px;
  border: 1px solid var(--gray3);
}

.list-content-container::-webkit-scrollbar-thumb:hover {
  background: var(--gray3); /* Hover color */
  border-radius: 3px;
  border: 1px solid var(--gray2);
}

.cards-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0.5rem 0 0.5rem;
  max-width: 350px;
  transition: background-color 0.2s ease;
}

/*
This styles are not currently used its a work in progress
to eliminate the placeholder in the source list smoothly
*/

/*
.cards-list.drag-over {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
}

/* Placeholder animation for smooth card movement */
/*
.placeholder {
  background-color: blueviolet;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.placeholder--visible {
  opacity: 1;
  max-height: 200px;
}

.placeholder--hidden {
  opacity: 0;
  max-height: 0;
}
*/

.list-footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}

.list-footer button {
  padding: 0.5rem;
  border-radius: 6px;
  color: var(--gray1);
  background-color: transparent;
  width: 100%;
  justify-content: start;
}

.list-footer button:hover {
  background-color: var(--gray3);
}

.add-card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-title-input {
  width: 100%;
  padding: 0.25rem 0.5rem 0.75rem 0.5rem;
  border: none;
  color: var(--gray1);
  background-color: transparent;
  font-size: 0.9em;

  &:focus {
    outline: none;
  }
}

.add-card-buttons-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-card-buttons-container .add-card-contained-button {
  width: fit-content;
  padding: 0.4rem 0.75rem 0.3rem 0.75rem;
  color: var(--button-black-text);
  background-color: var(--button-soft-blue-bg);
  text-transform: none;

  &:hover {
    background-color: var(--button-very-soft-blue-bg);
  }
}

.add-card-buttons-container .icon-button {
  width: auto;
  padding: 4px 8px;
  color: var(--gray2);
  font-size: 1.2em;
  padding: 0.35rem 0.75rem;

  &:hover {
    color: var(--gray1);
    background-color: var(--gray3);
  }
}
