/* List */
.list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  justify-content: space-between;
  max-width: 350px;
  max-height: 100%;
  border: 1px solid var(--black);
  border-radius: 10px;
  background-color: var(--gray5);
  color: var(--gray1);
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.list-header h2 {
  margin: 0;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  font-size: 1em;
  font-weight: 500;
}

.list-content-container {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.2rem 0 0.2rem 0;
}

/* Custom scrollbar styling */
.list-content-container::-webkit-scrollbar {
  width: 5px; /* Make scrollbar thinner */
}

.list-content-container::-webkit-scrollbar-track {
  background: var(--gray3); /* Track color */
  border-radius: 3px;
  border: 1px solid var(--gray3);
}

.list-content-container::-webkit-scrollbar-thumb {
  background: var(--gray2); /* Thumb color */
  border-radius: 3px;
  border: 1px solid var(--gray3);
}

.list-content-container::-webkit-scrollbar-thumb:hover {
  background: var(--gray3); /* Hover color */
  border-radius: 3px;
  border: 1px solid var(--gray2);
}

.cards-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0.5rem 0 0.5rem;
  gap: 10px;
  max-width: 350px;
}

.list-add-card-header,
.list-footer {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}

:is(.list-add-card-header, .list-footer) button {
  justify-content: start;
  padding: 0.5rem;
  border-radius: 6px;
}
