/* dots button */
.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: 20%;
  background-color: transparent;
  box-sizing: border-box;
  > svg {
    font-size: 18px;
    color: var(--gray1);
  }
}

.icon-button:hover {
  background-color: var(--icon-btn-bg-hover);
}

.add-card-card-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.2em;
  border-radius: 20%;
  color: var(--ds-text-subtle);
  background-color: var(--icon-btn-bg-default);
  box-sizing: border-box;
  font: var(--ds-font-body);
  font-weight: var(--ds-font-weight-medium);
  > svg {
    color: var(--ds-text-subtle);
    font-size: 18px;
    margin-inline-end: 0.2em;
  }
}

.add-card-card-button:hover {
  background-color: var(--ds-background-neutral-hovered);
}
