/* Flex helpers */
.flex {
  display: flex;

  > .full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
}

.pl-2 {
  padding-left: 2rem;
}
.pr-2 {
  padding-right: 2rem;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}
